* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html, body {
    height: 100%;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e4e2e2;
    height: 80%;
    border-radius: 12px;
    box-shadow: 16px 16px 48px #ccc9c9;
}

@media (max-width: 500px) {
    main {
        height: 100%;
        border-radius: unset;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 8px;
}
header span {
    font-weight: 900;
    font-size: 1.1rem;
}
header i {
    font-size: 1.8rem;
    padding: 24px;
    border-radius: 7px;
    background: #dbdbdb;
    box-shadow: inset 8px 8px 10px #c9c9c9,
            inset -8px -8px 10px #ededed;
    font-weight: 900;
}
header i:nth-child(3) {
    color: #ff0800;
}
.song-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
}
.song-img {
    width: 63%;
    margin: 8px;
}
.song-img img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #dbdbdb;
    box-shadow:  -6px 6px 7px #888888,
                  8px -8px 8px #ffffff;
}

.song-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.artist {
    font-size: 1.4rem;
    font-weight: 900;
    margin-top: 8px;
    color: #7e7e7f;
}

.progress-bar {
    width: 80%;
    height: 12px;
    background-color: rgb(241, 241, 241);
    border: 1px solid lightgray;
    border-radius: 16px;
}
.progress {
    width: 70%;
    height: 100%;
    background: rgb(114,188,236);
    background: linear-gradient(90deg, rgba(114,188,236,1) 0%, rgba(11,143,211,1) 50%, rgba(25,227,242,1) 100%);
    border-radius: 16px 0px 0px 16px;
}
.cntrl-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px 8px 0px;
}

.cntrl-buttons i {
    font-size: 2.6rem;
    border-radius: 26px;
    background: #dbdbdb;
    box-shadow:  -5px 5px 10px #c7c7c7,
                  5px -5px 10px #efefef;
    padding: 14px;
    color: #4b4a4a;
}

.cntrl-buttons i:nth-child(2) {
    padding: 14px 16px 14px 16px;
    border-radius: 24px;
    background: #dbdbdb;
    box-shadow: inset -5px 5px 10px #cecece,
                inset 5px -5px 10px #efefef;
    color: #19e3f2;
    font-size: 2.8rem;
}
footer {
    width: 50%;
    margin-bottom: 24px;
}
.footer-bar {
    width: 100%;
    height: 8px;
    border-radius: 6px;
    background-color: #e0e0e0;
    box-shadow: inset -2px 2px 2px gray,
                inset  2px -2px 2px #efefef;
}
